/* Universal Styles */

html {
  font-size: 18px;
}

.App {
  font-family: 'Work Sans', sans-serif;
}

.title {
  padding: 0.8rem;
  text-align: center;
  background-color: gray;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
  margin: 0;
}

